nav#nav {
    display: inline;
    position: relative;
    font-size: 18pt;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: end;
    text-decoration: underline;
    background-color: rgb(190, 150, 228)!important;
}

.nav-link:hover,
#team-btn:hover {
    transform: scale(1.1);
}

a.nav-link {
    color: white!important;
}

h1.display-4 {
    color: indigo;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(190, 150, 228);
    padding: 20px;
    border: solid 2px indigo;
}

.lead {
    padding: 10px;
    text-align: center;
}

p.lead {
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 20px;
}

#jumbo-bio {
    font-size: 18pt;
    width: 95vw;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    background-color: rgb(190, 150, 228);
    padding: 20px;  
}

.team-jumbo {
    margin-left: 20px;
 
}

#team-text {
    text-align: center;
    padding-left: 10%;
}

#cfg-jumbo-img {
    width: 94vw;

}

#team-btn {
    background-color: indigo;
    border: solid 2px black;
    margin-left: 70%;
    margin-bottom: 10px;
}

#team-header {
    color: indigo;
    font-size: 70px;
    font-weight: bolder;
    padding: 20px;
    border: solid 2px indigo;
    position: absolute;
    left: 57%;
    margin-top: 10px; 
}


#team-text {
    position: absolute;
    left: 50%;
    max-width: 40%;
    font-size: 30pt;
    font-weight: 600;
    margin-top: 60px;
    top: 40%;
    color: indigo;
}

.card {
    text-align: center;
}

.card-img-top:hover {
    transform: scale(1.1);
}

footer {
    display: block;
    text-align: center;
    color: white;
    padding-bottom: 5px;
    margin: 5px;
    font-size: 15pt;
    background-color: rgb(190, 150, 228);
}

#more,
#moreLil,
#moreCate,
#moreLulu,
#moreNatalie,
#moreKat {
    display: none;
}

.link {
    color: purple !important;
}

/* media query to make nav bar responsive for mobile viewpoint */
@media only screen and (min-width: 300px) and (max-width: 1100px) {

    #cfg-story-img {
        max-width: 40vw;
    }

    #team-header {
        max-width: 450px;
        font-size: 80%;
        left: 65%;
        margin-top: 10px;
    }

    #team-text {
        position: absolute;
        left: 50%;

        top: 150px;
       font-size: 10pt;
       max-width: 50%;
    }

    .card {
        margin-left: 40px;
    }

    nav#nav {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #team-jumbo {
        margin-top: 20px;
        height: auto;
        background-color: rgb(190, 150, 228);
        padding: 20px;
    }
}